[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
seaborn = "*"
gym = "*"
tensorflow = "*"
box2d = "*"
box2d-kengz = "*"

[dev-packages]

[requires]
python_version = "3.9"
